body{
    font-family: "Lora", serif;
    background-color: #ffe100;
    color: rgb(0, 0, 0);
    font-family:"Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ebdb32;
    color: rgb(0, 0, 0);
    font-family:"Lora", serif;
}
.passo.ativo {
    display:block;
}
.passo {
    display: none;
}